@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Inter');

html {
    font-family: Inter;
}

body {
    margin: 0px;
    background-color: #FC9519;
    /* padding-left: 300px;
    padding-right: 300px; */
}

.navbar {
    height: fit-content;
    background: linear-gradient(180deg, rgba(230, 111, 34, 1) 50%, rgba(252, 149, 25, 1) 100%);
    padding-left: 256px;
    padding-right: 256px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.maintitle-wrapper {
    padding-top: 12px;
    display: flex;
    flex-flow: row;
    flex: 1 100%;
    justify-content: center;
}

.maintitle {
    padding-top: 12px;
    font-size: 52px;
    color: #1a1a1a;
    font-weight: 1000;
    transition: 0.3s;
}

.maintitle:hover {
    color: white;
}

.not-decorated:visited {
    color: inherit;
}

.not-decorated:link {
    text-decoration: none;
}

.side-buttons {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex: 1 100%;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin-top: 24px;
}

.button {
    font-size: 48px;
    color: #121212;
    font-size: 18px;
    margin-right: 12px;
    border-radius: 24px;
    background-color: white;
    padding: 3px 12px 3px 12px;
    width: 250px;
    transition: 0.5s;
}

.button:hover {
    background-color: #aaaaaa;
}

.core {
    flex: 1 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 24px;
}

.upper {
    width: 500px;
    display: flex;
    color: white;
    text-align: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 150px 150px 0px 0px;
    background-color: #F23018;
}

.banner-image {
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 0 30px 0;
}

.image {
    
    width: 50%;
    height: 500px;
    object-fit: cover;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    box-shadow: 0px 0px 30px #FC5319;
    background: linear-gradient(to right, #F59B18 20%, rgba(253, 198, 115, 0.466));
    margin: 15px 0px 5 0px 0px;
    width: 40%;
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-wrapper {
    display: flex;
    justify-content: center;
}

.info-ristorante {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding: 15px;
    border-radius: 0 60px 0 0;
    box-shadow: 0px 15px 30px #cacaca;
}

.nome-ristorante {
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
}

.generale-menu {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 15px 30px #cacaca;
}

.generale-menu h3 {
    font-size: 32px;
}

.text-centered {
    text-align: center;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 22rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100vh);
    transition: transform 0.8s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

.menuItem {
    margin: 10px 0 10px 0;
}

.mainpage-info {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.mainpage-item-left {
    height: 250px;
    text-align: left;
    padding-left: 22px;
    width: 50%;
    box-shadow: 0px 0px 30px #FC5319;
    border-radius: 10px;
    margin-right: 32px;
    margin-left: 60px;
    transition: 0.4s;
    background: linear-gradient(to right, #F59B18 20%,
            rgba(253, 198, 115, 0.466)), url(https://images.unsplash.com/photo-1592417817038-d13fd7342605?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
}

.mainpage-item-left:hover {
    background: linear-gradient(to right, #F59B18 50%,
            rgba(223, 153, 48, 0.726)), url(https://images.unsplash.com/photo-1592417817038-d13fd7342605?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
    box-shadow: 0px 0px 30px #b43a11;
    width: 60%;
}

.mainpage-item-right {
    height: 250px;
    text-align: left;
    padding-left: 22px;
    width: 50%;
    box-shadow: 0px 0px 30px #FC5319;
    border-radius: 10px;
    margin-right: 60px;
    margin-left: 32px;
    transition: 0.4s;
    background: linear-gradient(to right, #F59B18 20%,
            rgba(253, 198, 115, 0.466)), url(https://images.unsplash.com/photo-1586816001966-79b736744398?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
}

.mainpage-item-right:hover {
    background: linear-gradient(to right, #F59B18 50%,
            rgba(223, 153, 48, 0.726)), url(https://images.unsplash.com/photo-1586816001966-79b736744398?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
    box-shadow: 0px 0px 30px #b43a11;
    width: 60%;
}

.subscribe-button {
    width: fit-content;
    background-color: #F24218;
    border-radius: 60px;
    padding: 6px 12px 6px 12px;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #FC5D19;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #F23018;
    margin-top: 1em;
}