@import url('https://fonts.googleapis.com/css?family=Sofia');

body {
    margin: 0px;
    background-color: #fafafa;
}

.navbar {
    height: fit-content;
    background-color: #fefefe;
    padding-left: 256px;
    padding-right: 256px;
    padding-bottom: 24px;
    box-shadow: 0px 15px 30px #cacaca;
    display: flex;
    justify-content: center;
}

.maintitle-wrapper {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex: 1 100%;
    justify-content: center;
}

.maintitle {
    padding-top: 24px;
    font-size: 52px;
    color: #1a1a1a;
    font-family: 'Sofia', serif;
    transition: 0.3s;
}

.maintitle:hover {
    color: blue;
    text-shadow: 0px 0px 12px red;
}

.not-decorated:visited {
    color: inherit;
}

.not-decorated:link {
    text-decoration: none;
}

.side-buttons {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex: 1 100%;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin-top: 24px;
}

.button {
    font-size: 48px;
    color: #121212;
    font-size: 18px;
    margin-right: 12px;
    border-radius: 24px;
    background-color: white;
    padding: 3px 12px 3px 12px;
    width: 250px;
    transition: 0.5s;
}

.button:hover {
    color: white;
    background-color: red;
}

.core {
    flex: 1 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 24px;
}

.upper {
    width: 500px;
    display: flex;
    color: white;
    text-align: left;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: #1a1a1a;
    text-align: center;
    border-radius: 150px 150px 0px 0px;
    background-color: #fefefe;
}

.banner-image {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.image {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup {
    background-color: #dadada;
    margin: 15px 0px 5 0px 0px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-wrapper {
    display: flex;
    justify-content: center;
}

.info-ristorante {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding: 15px;
    border-radius: 0 60px 0 0;
    box-shadow: 0px 15px 30px #cacaca;
}

.nome-ristorante {
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
}

.generale-menu {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 15px 30px #cacaca;
}

.generale-menu h3 {
    font-size: 32px;
}

.text-centered {
    text-align: center;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100vh);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

.menuItem {
    margin: 10px 0 10px 0;
}