body {
    margin: 0px;
    background-color: #cacaca;
}

.navbar {
    height: fit-content;
    background-color: #fefefe;
    padding-left: 256px;
    padding-right: 256px;
    padding-bottom: 24px;
    border-radius: 0px 0px 150px 150px;
}

.maintitle {
    padding-top: 24px;
    font-size: 64px;
    color: #1a1a1a;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex: 1 100%;
    justify-content: center;
    width: 100%;
}

.not-decorated:visited { 
    color: inherit;
}

.not-decorated:link {
    text-decoration: none;
}

.side-buttons {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex: 1 100%;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 24px;
}

.button {
    font-size: 48px;
    color: #dadada;
    font-size: 18px;
    margin-right: 12px;
    border-radius: 24px;
    background-color: #1a1a1a;
    padding: 3px 12px 3px 12px;
}

.button:hover {
    background-color: #4a4a4a;
}

.core {
    flex: 1 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 24px;
}

.upper {
    width: 500px;
    display: flex;
    color: white;
    text-align: left;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: #1a1a1a;
    text-align: center;
    border-radius: 150px 150px 0px 0px;
    background-color: #fefefe;
}

.banner-image {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.image {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.login{
    display:flex;
    justify-content:center;
    align-items: center;
}

.signup{
    background-color: #dadada;
    margin: 15px 0px 5  0px 0px;
    width: 60%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.signup-wrapper {
    display: flex;
    justify-content: center;
}

.info-ristorante {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding: 15px;
}

.generale-menu {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding: 15px;
}

.generale-menu h3{
    font-size: 32px;
}

.text-centered {
    text-align: center;
}